@import "fonts"

body
  margin: 0
  font-family: Helvetica, sans-serif

  .container
    margin: 0 auto
    width: 80vw

    header
      display: flex
      justify-content: space-between
      align-items: center
      padding: 10px 20px
      box-shadow: 0 2px 9px 0 rgba(220, 220, 220, 0.75)

      .logo
        width: 30%

      nav
        display: flex
        flex-grow: 4
        align-items: center
        justify-content: space-between

        a
          color: black
          text-decoration: none
          font-weight: bold

      .links
        display: flex
        justify-content: space-between
        align-items: center
        width: 30%
    section
      margin-top: 20px
      box-shadow: 0 2px 9px 0 rgba(220, 220, 220, 0.75)
      .swiper-wrapper
        height: unset

        .swiper-slide
          display: flex
          justify-content: space-between
          align-items: center
          height: unset

          img
            width: 50%

          article
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-around
            padding: 0 2vw
            div:first-child
              display: flex
              flex-direction: column
              h2
                font-size: 4em
                margin-block-start: 1em
                margin-block-end: .3em
                text-align: center
                sub
                  font-size: 10px
                  position: relative
                  left: -20px
                  top: -15px
              .title
                font-size: 2em
                font-weight: bold
                color: #414141
              .description
                margin-top: 10px
                color: #646464
            div:last-child
              display: flex
              justify-content: flex-end
              button
                display: block
                background-color: #d01111
                font-family: 'regular', sans-serif
                padding: 15px
                color: white
                border-radius: 10px
                border: none
    .swiper-pagination
      .swiper-pagination-bullet
        width: 70px
        height: 5px
        margin: 0 10px
        border-radius: 5px
        background-color: white
        box-shadow: 0 1px 2px 0 rgba(9, 3, 3, 0.75)
        opacity: 1
      .swiper-pagination-bullet-active
        background-color: #262626

a
  color: #00B7FF

input
  border: none
